ws-client/src/main/wsdl/orderservice.wsdl.xml

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="OrderServiceService" targetNamespace="http://ws.javaee6demo.housing.com/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://ws.javaee6demo.housing.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">



    <wsdl:types>
        <xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.javaee6demo.housing.com/" version="1.0"
                   xmlns:tns="http://ws.javaee6demo.housing.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="exists" type="tns:exists"/>
            <xs:element name="existsResponse" type="tns:existsResponse"/>
            <xs:element name="getItems" type="tns:getItems"/>
            <xs:element name="getItemsResponse" type="tns:getItemsResponse"/>
            <xs:element name="getOrders" type="tns:getOrders"/>
            <xs:element name="getOrdersResponse" type="tns:getOrdersResponse"/>
            <xs:element name="user" type="tns:user"/>
            <xs:complexType name="getOrders">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getOrdersResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:order"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="order">
                <xs:sequence>
                    <xs:element minOccurs="0" name="created" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="updated" type="xs:dateTime"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:orderItem"/>
                    <xs:element minOccurs="0" name="creator" type="xs:IDREF"/>
                    <xs:element minOccurs="0" name="assignee" type="tns:user"/>
                    <xs:element minOccurs="0" name="status" type="tns:status"/>
                    <xs:element minOccurs="0" name="comments" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID" use="required"/>
            </xs:complexType>
            <xs:complexType name="orderItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="order" type="xs:IDREF"/>
                    <xs:element minOccurs="0" name="product" type="tns:product"/>
                    <xs:element minOccurs="0" name="quantity" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="product">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="unit" type="xs:IDREF"/>
                    <xs:element minOccurs="0" name="category" type="tns:productCategory"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="unit">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:ID"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="productCategory">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:ID"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="user">
                <xs:sequence>
                    <xs:element minOccurs="0" name="username" type="xs:ID"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="created" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="updated" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="tns:role"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getItems">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getItemsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:orderItem"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="exists">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:order"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="existsResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="role">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="admin"/>
                    <xs:enumeration value="orderer"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="status">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="RCV"/>
                    <xs:enumeration value="PAID"/>
                    <xs:enumeration value="PKG"/>
                    <xs:enumeration value="SNT"/>
                    <xs:enumeration value="DLV"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="existsResponse">
        <wsdl:part element="tns:existsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOrders">
        <wsdl:part element="tns:getOrders" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="exists">
        <wsdl:part element="tns:exists" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getItems">
        <wsdl:part element="tns:getItems" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOrdersResponse">
        <wsdl:part element="tns:getOrdersResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getItemsResponse">
        <wsdl:part element="tns:getItemsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OrderService">
        <wsdl:operation name="getOrders">
            <wsdl:input message="tns:getOrders" name="getOrders">
            </wsdl:input>
            <wsdl:output message="tns:getOrdersResponse" name="getOrdersResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getItems">
            <wsdl:input message="tns:getItems" name="getItems">
            </wsdl:input>
            <wsdl:output message="tns:getItemsResponse" name="getItemsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="exists">
            <wsdl:input message="tns:exists" name="exists">
            </wsdl:input>
            <wsdl:output message="tns:existsResponse" name="existsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderServiceServiceSoapBinding" type="tns:OrderService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getOrders">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getOrders">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOrdersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="exists">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="exists">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="existsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getItems">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getItems">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getItemsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderServiceService">
        <wsdl:port binding="tns:OrderServiceServiceSoapBinding" name="OrderServicePort">
            <soap:address location="http://localhost:8080/javaee6-demo/OrderService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>